<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello04</title>
</head>
<body>
<p> An English str: {{myStr}} </p>
<p> An English str with capitalize filter: {{myStr | capitalize}} </p>
<p> An English str with lower filter: {{myStr | lower}} </p>
<p> An English str with upper filter: {{myStr | upper}} </p>
<p> An English str with title filter: {{myStr | title}} </p>
<p> An English str with trim filter: " {{myStr | trim}} " </p>

<p> A HTML str : {{myHTML}} </p>
<p> A HTML str with striptags filter: {{myHTML | striptags}} </p>
<p> A HTML str with safe filter: {{myHTML | safe}} </p>
</body>
</html>